.titulo h1{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-group img{
  width: 100%;
}
.form-group h2, h3{
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-group h1{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
}